In [14]:
##import libraries request and bs4
import requests #library needed for requesting permission to website
from bs4 import BeautifulSoup #needed for filtering through website html code

import pandas as pd

In [15]:
import numpy as np

In [16]:
##adding url of site needed for data
url = "https://www.loko.be/en/past-events"
response = requests.get(url)

In [17]:
##making sure everything works and the correct url is used
response.url

'https://www.loko.be/en/past-events'

In [18]:
##storing in beautifulsoup element for further usage
soup = BeautifulSoup(response.text, "html.parser")

In [19]:
##select the class from the html code we are interested in, all events we need are of this type
dates = soup.select('div[class="card__img card__img-blue"]')

In [20]:
##print only the text that is stored in the results element, which are only dates in this case
date = []
for x in dates:
    print(x.text)
    date.append(x.text)

19 Apr 2023



06 Mar 2023
                - 12 Mar 2023



20 Feb 2023
                - 12 Mar 2023



29 Nov 2022
                - 01 Dec 2022



22 Nov 2022



25 Oct 2022
                - 26 Oct 2022



11 May 2022



08 Mar 2022



24 Feb 2022
                - 24 Mar 2022



26 Oct 2021
                - 27 Oct 2021



01 Mar 2021
                - 06 Mar 2021



22 Feb 2021
                - 27 Feb 2021

In [26]:
date = str(date)
date

"['\\n19 Apr 2023\\n\\n', '\\n06 Mar 2023\\n                - 12 Mar 2023\\n\\n', '\\n20 Feb 2023\\n                - 12 Mar 2023\\n\\n', '\\n29 Nov 2022\\n                - 01 Dec 2022\\n\\n', '\\n22 Nov 2022\\n\\n', '\\n25 Oct 2022\\n                - 26 Oct 2022\\n\\n', '\\n11 May 2022\\n\\n', '\\n08 Mar 2022\\n\\n', '\\n24 Feb 2022\\n                - 24 Mar 2022\\n\\n', '\\n26 Oct 2021\\n                - 27 Oct 2021\\n\\n', '\\n01 Mar 2021\\n                - 06 Mar 2021\\n\\n', '\\n22 Feb 2021\\n                - 27 Feb 2021\\n\\n']"

In [31]:
date = date.replace('\\n', '')
date

"['19 Apr 2023', '06 Mar 2023                - 12 Mar 2023', '20 Feb 2023                - 12 Mar 2023', '29 Nov 2022                - 01 Dec 2022', '22 Nov 2022', '25 Oct 2022                - 26 Oct 2022', '11 May 2022', '08 Mar 2022', '24 Feb 2022                - 24 Mar 2022', '26 Oct 2021                - 27 Oct 2021', '01 Mar 2021                - 06 Mar 2021', '22 Feb 2021                - 27 Feb 2021']"

In [41]:
date = str(date)

In [50]:
df_date

,0,1,2,3,4,5,6,7,8,9,10,11
0,19 Apr 2023,06 Mar 2023 - 12 Mar 2023,20 Feb 2023 - 12 Mar 2023,29 Nov 2022 - 01 Dec 2022,22 Nov 2022,25 Oct 2022 - 26 Oct 2022,11 May 2022,08 Mar 2022,24 Feb 2022 - 24 Mar 2022,26 Oct 2021 - 27 Oct 2021,01 Mar 2021 - 06 Mar 2021,22 Feb 2021 - 27 Feb 2021

In [27]:
titles = soup.select('h3[class="heading--4 card__title"]')

In [28]:
title = []
for y in titles:
    print(y.text)
    title.append(str(y.text))

Survival of the Student


Ithaka - Down to Earth


Werving projectmedewerkers Ithaka


Student Conference 2022


Het Groot Dictee der Leuvense Studenten


24 urenloop 2022


Beiaardcantus 2022


Openingsavond Interfacultair Theaterfestival


Think Abroad Month - Around the world


24 urenloop 2021


Think Abroad Week 2021


Student Conference 2021

In [18]:
print(title)

['\nSurvival of the Student\n', '\nIthaka - Down to Earth\n', '\nWerving projectmedewerkers Ithaka\n', '\nStudent Conference 2022\n', '\nHet Groot Dictee der Leuvense Studenten\n', '\n24 urenloop 2022\n', '\nBeiaardcantus 2022\n', '\nOpeningsavond Interfacultair Theaterfestival\n', '\nThink Abroad Month - Around the world\n', '\n24 urenloop 2021\n', '\nThink Abroad Week 2021\n', '\nStudent Conference 2021\n']