# DATAFRAME WITH EVENT NAME AND DATE

In [1]:
##import libraries request and bs4
import requests #library needed for requesting permission to website
from bs4 import BeautifulSoup #needed for filtering through website html code
import pandas as pd

In [2]:
thislist1 = []
thislist2 = []

for i in range(0,8):
    s = str(i)
    url = "https://www.hetdepot.be/archief?page=" + s
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")
    groups = soup.select('div.calendar__group')
    for group in groups:
        date = group.select_one('h3').text.strip()
        items = group.select('div.calendar-item')
        for item in items:
            title = item.select_one('h2.calendar-item__title').text.strip()
            thislist1.append(title)
            thislist2.append(date)

# Format 'date' column

In [6]:
#create dataframe only date
df_only_date = df_past.loc[:, ["Date"]]
df_only_date

                                              Date
0                             donderdag04 mei 2023
1                              woensdag03 mei 2023
2    dinsdag02 mei 2023\ntot\ndonderdag04 mei 2023
3       zondag30 apr 2023\ntot\nmaandag01 mei 2023
4                              zaterdag29 apr 2023
..                                             ...
235                             vrijdag28 jan 2022
236                             dinsdag25 jan 2022
237                             maandag24 jan 2022
238                            woensdag12 jan 2022
239                            woensdag22 dec 2021

[240 rows x 1 columns]

In [7]:
#use dataframe to convert each row (series) to string
list1 = []
for i in range(len(df_only_date)):
    ser = df_only_date.loc[i]
    series = ser.to_string()
    #extract second word of each row
    all_words = str.split(series)
    second_word = all_words[1]
    #split word
    last_two = second_word[-2:]
    rest = second_word[:-2]
    result = rest + " " + last_two 
    #replace
    words = result.split() #split first word
    words[0] = "" #first word replaced with empty space
    new_string = " ".join(words) #adding rest to empty space to get only number
    #get rest of the words
    month = all_words[2] #get third word
    month = str(month) 
    year = all_words[3] #get fourth word
    year = str(year)
    final = new_string + month + year #put together
    new_final = f"{new_string} {month} {year}" #format
    new_final = new_final.replace("jan", "Jan")
    new_final = new_final.replace('feb', 'Feb')
    new_final = new_final.replace('maa', 'Mar')
    new_final = new_final.replace('apr', 'Apr')
    new_final = new_final.replace('mei', 'May')
    new_final = new_final.replace('jun', 'Jun')
    new_final = new_final.replace('jul', 'Jul')
    new_final = new_final.replace('aug', 'Aug')
    new_final = new_final.replace('sep', 'Sep')
    new_final = new_final.replace('okt', 'Oct')
    new_final = new_final.replace('nov', 'Nov')
    new_final = new_final.replace('dec', 'Dec')
    new_final = new_final[:12]
    list1.append(new_final)

In [8]:
df_date_replaced = pd.DataFrame(list1)
df_date_replaced.columns = ["Date"]
df_date_replaced

             Date
0     04 May 2023
1     03 May 2023
2     02 May 2023
3     30 Apr 2023
4     29 Apr 2023
..            ...
235   28 Jan 2022
236   25 Jan 2022
237   24 Jan 2022
238   12 Jan 2022
239   22 Dec 2021

[240 rows x 1 columns]

# Create final DataFrame

In [9]:
df_past = pd.DataFrame(thislist1)
df_past.columns = ["Event Name"]
df_past['Date'] = df_date_replaced
df_past

                                            Event Name          Date
0    RAUW!                             \n          ...   04 May 2023
1                                             Open Mic   03 May 2023
2    Veduta presents Portraits                     ...   02 May 2023
3    Centah #1 w/ Jarreau Vandal, Blck Mamba, BONA ...   30 Apr 2023
4    10 jaar Niels & Wiels                         ...   29 Apr 2023
..                                                 ...           ...
235            Stijn Meuris – Tirade #5 – De Stilstand   28 Jan 2022
236  Steve Wynn                             \n     ...   25 Jan 2022
237  COOL presents Aaron Frazer                    ...   24 Jan 2022
238  Open Mic                              \n      ...   12 Jan 2022
239  Otto-Jan Ham: Het allerbeste jaar uit de muzie...   22 Dec 2021

[240 rows x 2 columns]

In [46]:
#csv
df_past.to_csv('past.csv')