# Retrieve Date and Event Name

In [68]:
##import libraries request and bs4
import requests #library needed for requesting permission to website
from bs4 import BeautifulSoup #needed for filtering through website html code
import pandas as pd
import datetime as datetime
import re

In [150]:
thislist1 = []
thislist2 = []

for i in range(0,2):
    s = str(i)
    url = "https://www.hetdepot.be/programma?page=" + s
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")
    groups = soup.select('div.calendar__group')
    for group in groups:
        date = group.select_one('h3').text.strip()
        items = group.select('div.calendar-item')
        for item in items:
            title = item.select_one('h2.calendar-item__title').text.strip()
            thislist1.append(title)
            thislist2.append(date)

# Format 'date' column

In [71]:
#create dataframe only date
df_only_date = df_next.loc[:, ["Date"]]
df_only_date

                                              Date
0                              zaterdag06 mei 2023
1                               maandag08 mei 2023
2                               dinsdag09 mei 2023
3                              woensdag10 mei 2023
4                               vrijdag12 mei 2023
..                                             ...
113  zaterdag29 jul 2023\ntot\nzaterdag29 jul 2023
114      zondag30 jul 2023\ntot\nzondag30 jul 2023
115                             vrijdag15 sep 2023
116                            zaterdag16 sep 2023
117                            woensdag20 sep 2023

[118 rows x 1 columns]

In [224]:
#use dataframe to convert each row (series) to string
list1 = []
for i in range(len(df_only_date)):
    ser = df_only_date.loc[i]
    series = ser.to_string()
    #extract second word of each row
    all_words = str.split(series)
    second_word = all_words[1]
    #split word
    last_two = second_word[-2:]
    rest = second_word[:-2]
    result = rest + " " + last_two 
    #replace
    words = result.split() #split first word
    words[0] = "" #first word replaced with empty space
    new_string = " ".join(words) #adding rest to empty space to get only number
    #get rest of the words
    month = all_words[2] #get third word
    month = str(month) 
    year = all_words[3] #get fourth word
    year = str(year)
    final = new_string + month + year #put together
    new_final = f"{new_string} {month} {year}" #format
    new_final = new_final.replace("jan", "Jan")
    new_final = new_final.replace('feb', 'Feb')
    new_final = new_final.replace('maa', 'Mar')
    new_final = new_final.replace('apr', 'Apr')
    new_final = new_final.replace('mei', 'May')
    new_final = new_final.replace('jun', 'Jun')
    new_final = new_final.replace('jul', 'Jul')
    new_final = new_final.replace('aug', 'Aug')
    new_final = new_final.replace('sep', 'Sep')
    new_final = new_final.replace('okt', 'Oct')
    new_final = new_final.replace('nov', 'Nov')
    new_final = new_final.replace('dec', 'Dec')
    new_final = new_final[:12]
    list1.append(new_final)

In [225]:
df_date_replaced = pd.DataFrame(list1)
df_date_replaced.columns = ["Date"]
df_date_replaced

             Date
0     06 May 2023
1     08 May 2023
2     09 May 2023
3     10 May 2023
4     12 May 2023
..            ...
113   29 Jul 2023
114   30 Jul 2023
115   15 Sep 2023
116   16 Sep 2023
117   20 Sep 2023

[118 rows x 1 columns]

# Create final DataFrame

In [226]:
df_next = pd.DataFrame(thislist1)
df_next.columns = ["Event Name"]
df_next['Date'] = df_date_replaced
df_next

                                            Event Name          Date
0    Belpop Bonanza Leuven                         ...   06 May 2023
1                     Depot Café presents Porcelain id   08 May 2023
2                                                K.ZIA   09 May 2023
3    Johannes Is Zijn Naam                         ...   10 May 2023
4    Metejoor                             \n       ...   12 May 2023
..                                                 ...           ...
113  M-IDZOMER 2023: DAAN + Calicos + Pitou + Zimme...   29 Jul 2023
114  M-IDZOMER 2023: Suzanne Vega + Alela Diane + K...   30 Jul 2023
115  Jean-Marie Aerts                             \...   15 Sep 2023
116                 Scott Bradlee's Postmodern Jukebox   16 Sep 2023
117  Half Moon Run + \n          Flyte\n      \n   ...   20 Sep 2023

[118 rows x 2 columns]

In [ ]:
#csv
df_next.to_csv('next.csv')