In [1]:
##import libraries request and bs4
import requests #library needed for requesting permission to website
from bs4 import BeautifulSoup #needed for filtering through website html code

import pandas as pd

In [2]:
##adding url of site needed for data
url = "https://schoolvakanties-be.be/schoolvakanties-2022/"
response = requests.get(url)

In [3]:
##making sure everything works and the correct url is used
response.url

'https://schoolvakanties-be.be/schoolvakanties-2022/'

In [4]:
##storing in beautifulsoup element for further usage
soup = BeautifulSoup(response.text, "html.parser")

In [5]:
holidays = soup.select('span[class="event-place"]')

In [6]:
holiday = []
for y in holidays:
    print(y.text)
    holiday.append(y.text)

Krokusvakantie 2022 – Wallonië –
Krokusvakantie 2022 – Vlaanderen –
Paasvakantie 2022 – Wallonië –
Paasvakantie 2022 – Vlaanderen –
Hemelvaartvakantie 2022 – Wallonië –
Hemelvaartvakantie 2022 – Vlaanderen –
Zomervakantie 2022 – Wallonië –
Zomervakantie 2022 – Vlaanderen –
Herfstvakantie 2022 – Wallonië –
Herfstvakantie 2022 – Vlaanderen –
Kerstvakantie 2022 – Wallonië –
Kerstvakantie 2022 – Vlaanderen –

In [7]:
df_holiday = pd.DataFrame(holiday)

In [8]:
df_holiday

                                          0
0         Krokusvakantie 2022 – Wallonië –
1       Krokusvakantie 2022 – Vlaanderen –
2           Paasvakantie 2022 – Wallonië –
3         Paasvakantie 2022 – Vlaanderen –
4     Hemelvaartvakantie 2022 – Wallonië –
5   Hemelvaartvakantie 2022 – Vlaanderen –
6          Zomervakantie 2022 – Wallonië –
7        Zomervakantie 2022 – Vlaanderen –
8         Herfstvakantie 2022 – Wallonië –
9       Herfstvakantie 2022 – Vlaanderen –
10         Kerstvakantie 2022 – Wallonië –
11       Kerstvakantie 2022 – Vlaanderen –

In [9]:
starts = soup.select('span[itemprop="startDate"]')

In [11]:
start = []
for z in starts:
    print(z.text)
    start.append(z.text)

maandag 28 februari 2022
maandag 28 februari 2022
maandag 4 april 2022
maandag 4 april 2022
donderdag 26 mei 2022
donderdag 26 mei 2022
vrijdag 1 juli 2022
vrijdag 1 juli 2022
maandag 24 oktober 2022
maandag 31 oktober 2022
maandag 26 december 2022
maandag 26 december 2022

In [12]:
df_start = pd.DataFrame(start)

In [13]:
df_start

                           0
0   maandag 28 februari 2022
1   maandag 28 februari 2022
2       maandag 4 april 2022
3       maandag 4 april 2022
4      donderdag 26 mei 2022
5      donderdag 26 mei 2022
6        vrijdag 1 juli 2022
7        vrijdag 1 juli 2022
8    maandag 24 oktober 2022
9    maandag 31 oktober 2022
10  maandag 26 december 2022
11  maandag 26 december 2022

In [14]:
ends = soup.select('span[itemprop="endDate"]')

In [15]:
end = []
for i in ends:
    print(i.text)
    end.append(i.text)

zondag 6 maart 2022
zondag 6 maart 2022
maandag 18 april 2022
maandag 18 april 2022
vrijdag 27 mei 2022
vrijdag 27 mei 2022
zondag 28 augustus 2022
woensdag 31 augustus 2022
zondag 6 november 2022
zondag 6 november 2022
zondag 8 januari 2023
zondag 8 januari 2023

In [16]:
df_end = pd.DataFrame(end)

In [17]:
df_end

                            0
0         zondag 6 maart 2022
1         zondag 6 maart 2022
2       maandag 18 april 2022
3       maandag 18 april 2022
4         vrijdag 27 mei 2022
5         vrijdag 27 mei 2022
6     zondag 28 augustus 2022
7   woensdag 31 augustus 2022
8      zondag 6 november 2022
9      zondag 6 november 2022
10      zondag 8 januari 2023
11      zondag 8 januari 2023

In [18]:
frames = [df_holiday, df_start, df_end]
df = pd.concat(frames, axis = 1, join = 'inner')
df.columns =['Holiday', 'StartDate', 'EndDate']

In [19]:
df

,Holiday,StartDate,EndDate
0,Krokusvakantie 2022 – Wallonië –,maandag 28 februari 2022,zondag 6 maart 2022
1,Krokusvakantie 2022 – Vlaanderen –,maandag 28 februari 2022,zondag 6 maart 2022
2,Paasvakantie 2022 – Wallonië –,maandag 4 april 2022,maandag 18 april 2022
3,Paasvakantie 2022 – Vlaanderen –,maandag 4 april 2022,maandag 18 april 2022
4,Hemelvaartvakantie 2022 – Wallonië –,donderdag 26 mei 2022,vrijdag 27 mei 2022
5,Hemelvaartvakantie 2022 – Vlaanderen –,donderdag 26 mei 2022,vrijdag 27 mei 2022
6,Zomervakantie 2022 – Wallonië –,vrijdag 1 juli 2022,zondag 28 augustus 2022
7,Zomervakantie 2022 – Vlaanderen –,vrijdag 1 juli 2022,woensdag 31 augustus 2022
8,Herfstvakantie 2022 – Wallonië –,maandag 24 oktober 2022,zondag 6 november 2022
9,Herfstvakantie 2022 – Vlaanderen –,maandag 31 oktober 2022,zondag 6 november 2022
10,Kerstvakantie 2022 – Wallonië –,maandag 26 december 2022,zondag 8 januari 2023
11,Kerstvakantie 2022 – Vlaanderen –,maandag 26 december 2022,zondag 8 januari 2023