In [1]:
##import libraries request and bs4
import requests #library needed for requesting permission to website
from bs4 import BeautifulSoup #needed for filtering through website html code

import pandas as pd

In [2]:
import numpy as np

In [3]:
##adding url of site needed for data
url = "https://www.loko.be/en/past-events"
response = requests.get(url)

In [4]:
##making sure everything works and the correct url is used
response.url

'https://www.loko.be/en/past-events'

In [5]:
##storing in beautifulsoup element for further usage
soup = BeautifulSoup(response.text, "html.parser")

In [6]:
##select the class from the html code we are interested in, all events we need are of this type
dates = soup.select('div[class="card__img card__img-blue"]')

In [7]:
##print only the text that is stored in the results element, which are only dates in this case
date = []
for x in dates:
    print(x.text)
    date.append(x.text)

19 Apr 2023



06 Mar 2023
                - 12 Mar 2023



20 Feb 2023
                - 12 Mar 2023



29 Nov 2022
                - 01 Dec 2022



22 Nov 2022



25 Oct 2022
                - 26 Oct 2022



11 May 2022



08 Mar 2022



24 Feb 2022
                - 24 Mar 2022



26 Oct 2021
                - 27 Oct 2021



01 Mar 2021
                - 06 Mar 2021



22 Feb 2021
                - 27 Feb 2021

In [8]:
date = str(date)
date

"['\\n19 Apr 2023\\n\\n', '\\n06 Mar 2023\\n                - 12 Mar 2023\\n\\n', '\\n20 Feb 2023\\n                - 12 Mar 2023\\n\\n', '\\n29 Nov 2022\\n                - 01 Dec 2022\\n\\n', '\\n22 Nov 2022\\n\\n', '\\n25 Oct 2022\\n                - 26 Oct 2022\\n\\n', '\\n11 May 2022\\n\\n', '\\n08 Mar 2022\\n\\n', '\\n24 Feb 2022\\n                - 24 Mar 2022\\n\\n', '\\n26 Oct 2021\\n                - 27 Oct 2021\\n\\n', '\\n01 Mar 2021\\n                - 06 Mar 2021\\n\\n', '\\n22 Feb 2021\\n                - 27 Feb 2021\\n\\n']"

In [9]:
date = date.replace('\\n', '')
date

"['19 Apr 2023', '06 Mar 2023                - 12 Mar 2023', '20 Feb 2023                - 12 Mar 2023', '29 Nov 2022                - 01 Dec 2022', '22 Nov 2022', '25 Oct 2022                - 26 Oct 2022', '11 May 2022', '08 Mar 2022', '24 Feb 2022                - 24 Mar 2022', '26 Oct 2021                - 27 Oct 2021', '01 Mar 2021                - 06 Mar 2021', '22 Feb 2021                - 27 Feb 2021']"

In [10]:
date = eval(date)
df_date = pd.DataFrame(date)

In [11]:
df_date

                                           0
0                                19 Apr 2023
1   06 Mar 2023                - 12 Mar 2023
2   20 Feb 2023                - 12 Mar 2023
3   29 Nov 2022                - 01 Dec 2022
4                                22 Nov 2022
5   25 Oct 2022                - 26 Oct 2022
6                                11 May 2022
7                                08 Mar 2022
8   24 Feb 2022                - 24 Mar 2022
9   26 Oct 2021                - 27 Oct 2021
10  01 Mar 2021                - 06 Mar 2021
11  22 Feb 2021                - 27 Feb 2021

In [12]:
titles = soup.select('h3[class="heading--4 card__title"]')

In [13]:
title = []
for y in titles:
    print(y.text)
    title.append(y.text)

Survival of the Student


Ithaka - Down to Earth


Werving projectmedewerkers Ithaka


Student Conference 2022


Het Groot Dictee der Leuvense Studenten


24 urenloop 2022


Beiaardcantus 2022


Openingsavond Interfacultair Theaterfestival


Think Abroad Month - Around the world


24 urenloop 2021


Think Abroad Week 2021


Student Conference 2021

In [14]:
title = str(title)

In [15]:
title = title.replace('\\n', "")

In [16]:
title

"['Survival of the Student', 'Ithaka - Down to Earth', 'Werving projectmedewerkers Ithaka', 'Student Conference 2022', 'Het Groot Dictee der Leuvense Studenten', '24 urenloop 2022', 'Beiaardcantus 2022', 'Openingsavond Interfacultair Theaterfestival', 'Think Abroad Month - Around the world', '24 urenloop 2021', 'Think Abroad Week 2021', 'Student Conference 2021']"

In [17]:
title = eval(title)
df_title = pd.DataFrame(title)

In [18]:
df_title

                                               0
0                        Survival of the Student
1                         Ithaka - Down to Earth
2              Werving projectmedewerkers Ithaka
3                        Student Conference 2022
4        Het Groot Dictee der Leuvense Studenten
5                               24 urenloop 2022
6                             Beiaardcantus 2022
7   Openingsavond Interfacultair Theaterfestival
8          Think Abroad Month - Around the world
9                               24 urenloop 2021
10                        Think Abroad Week 2021
11                       Student Conference 2021

In [25]:
frames = [df_date, df_title]
df = pd.concat(frames, axis = 1, join = 'inner')
df

,0,0
0,19 Apr 2023,Survival of the Student
1,06 Mar 2023 - 12 Mar 2023,Ithaka - Down to Earth
2,20 Feb 2023 - 12 Mar 2023,Werving projectmedewerkers Ithaka
3,29 Nov 2022 - 01 Dec 2022,Student Conference 2022
4,22 Nov 2022,Het Groot Dictee der Leuvense Studenten
5,25 Oct 2022 - 26 Oct 2022,24 urenloop 2022
6,11 May 2022,Beiaardcantus 2022
7,08 Mar 2022,Openingsavond Interfacultair Theaterfestival
8,24 Feb 2022 - 24 Mar 2022,Think Abroad Month - Around the world
9,26 Oct 2021 - 27 Oct 2021,24 urenloop 2021
10,01 Mar 2021 - 06 Mar 2021,Think Abroad Week 2021
11,22 Feb 2021 - 27 Feb 2021,Student Conference 2021

stefan incoming.
aim: split the dates into two.
- rename columns into 'dates', 'event'
- create function:
    - take a look at the row value
    - create new columns 'start date' and 'end date'.
    - chatgpt did it for me yo

In [37]:
df_test = df.copy()
df_test.columns=['dates','event']
df_test = df_test.astype(str)

In [60]:
def date_split(df):
    for i, row in df.iterrows():
        date_range = row['dates'].split('-')
        startdate = date_range[0].strip()
        if len(date_range) == 1:
            enddate = startdate
        else:
            enddate = date_range[1].strip()
        df.loc[i, 'startdate'] = startdate
        df.loc[i, 'enddate'] = enddate
    df = df.drop('dates', axis=1)
    return df
date_split(df_test)

                                           event    startdate      enddate
0                        Survival of the Student  19 Apr 2023  19 Apr 2023
1                         Ithaka - Down to Earth  06 Mar 2023  12 Mar 2023
2              Werving projectmedewerkers Ithaka  20 Feb 2023  12 Mar 2023
3                        Student Conference 2022  29 Nov 2022  01 Dec 2022
4        Het Groot Dictee der Leuvense Studenten  22 Nov 2022  22 Nov 2022
5                               24 urenloop 2022  25 Oct 2022  26 Oct 2022
6                             Beiaardcantus 2022  11 May 2022  11 May 2022
7   Openingsavond Interfacultair Theaterfestival  08 Mar 2022  08 Mar 2022
8          Think Abroad Month - Around the world  24 Feb 2022  24 Mar 2022
9                               24 urenloop 2021  26 Oct 2021  27 Oct 2021
10                        Think Abroad Week 2021  01 Mar 2021  06 Mar 2021
11                       Student Conference 2021  22 Feb 2021  27 Feb 2021