In [1]:
##import libraries request and bs4
import requests #library needed for requesting permission to website
from bs4 import BeautifulSoup #needed for filtering through website html code

import pandas as pd
import numpy as np

In [2]:
##adding url of site needed for data
url = "https://www.loko.be/en/past-events"
response = requests.get(url)

In [3]:
##making sure everything works and the correct url is used
response.url

'https://www.loko.be/en/past-events'

In [4]:
##storing in beautifulsoup element for further usage
soup = BeautifulSoup(response.text, "html.parser")

In [5]:
##select the class from the html code we are interested in, all events we need are of this type
dates = soup.select('div[class="card__img card__img-blue"]')

In [6]:
##print only the text that is stored in the results element, which are only dates in this case
date = []
for x in dates:
    print(x.text)
    date.append(x.text)

02 May 2023
                - 05 May 2023



19 Apr 2023



06 Mar 2023
                - 12 Mar 2023



20 Feb 2023
                - 12 Mar 2023



29 Nov 2022
                - 01 Dec 2022



22 Nov 2022



25 Oct 2022
                - 26 Oct 2022



11 May 2022



08 Mar 2022



24 Feb 2022
                - 24 Mar 2022



26 Oct 2021
                - 27 Oct 2021



01 Mar 2021
                - 06 Mar 2021

In [7]:
##making the scraped items str format and checking the string
date = str(date)
date

"['\\n02 May 2023\\n                - 05 May 2023\\n\\n', '\\n19 Apr 2023\\n\\n', '\\n06 Mar 2023\\n                - 12 Mar 2023\\n\\n', '\\n20 Feb 2023\\n                - 12 Mar 2023\\n\\n', '\\n29 Nov 2022\\n                - 01 Dec 2022\\n\\n', '\\n22 Nov 2022\\n\\n', '\\n25 Oct 2022\\n                - 26 Oct 2022\\n\\n', '\\n11 May 2022\\n\\n', '\\n08 Mar 2022\\n\\n', '\\n24 Feb 2022\\n                - 24 Mar 2022\\n\\n', '\\n26 Oct 2021\\n                - 27 Oct 2021\\n\\n', '\\n01 Mar 2021\\n                - 06 Mar 2021\\n\\n']"

In [8]:
##replacing the parts that can not be included in the dataframe with blanks + checking again
date = date.replace('\\n', '')
date

"['02 May 2023                - 05 May 2023', '19 Apr 2023', '06 Mar 2023                - 12 Mar 2023', '20 Feb 2023                - 12 Mar 2023', '29 Nov 2022                - 01 Dec 2022', '22 Nov 2022', '25 Oct 2022                - 26 Oct 2022', '11 May 2022', '08 Mar 2022', '24 Feb 2022                - 24 Mar 2022', '26 Oct 2021                - 27 Oct 2021', '01 Mar 2021                - 06 Mar 2021']"

In [9]:
##creating a dataframe from the scraped dates 
date = eval(date)
df_date = pd.DataFrame(date)

In [10]:
##checking the dates df
df_date

                                           0
0   02 May 2023                - 05 May 2023
1                                19 Apr 2023
2   06 Mar 2023                - 12 Mar 2023
3   20 Feb 2023                - 12 Mar 2023
4   29 Nov 2022                - 01 Dec 2022
5                                22 Nov 2022
6   25 Oct 2022                - 26 Oct 2022
7                                11 May 2022
8                                08 Mar 2022
9   24 Feb 2022                - 24 Mar 2022
10  26 Oct 2021                - 27 Oct 2021
11  01 Mar 2021                - 06 Mar 2021

In [11]:
##scraping the event titles
titles = soup.select('h3[class="heading--4 card__title"]')

In [12]:
##storing the events titles in a list
title = []
for y in titles:
    print(y.text)
    title.append(y.text)

Student Conference 2022


Survival of the Student


Ithaka - Down to Earth


Werving projectmedewerkers Ithaka


Student Conference 2022


Het Groot Dictee der Leuvense Studenten


24 urenloop 2022


Beiaardcantus 2022


Openingsavond Interfacultair Theaterfestival


Think Abroad Month - Around the world


24 urenloop 2021


Think Abroad Week 2021

In [13]:
##converting the event titles in the title list into a string format
title = str(title)

In [14]:
##replace the parts that are not needed in the dataframe by blanks
title = title.replace('\\n', "")

In [15]:
##checking the list
title

"['Student Conference 2022', 'Survival of the Student', 'Ithaka - Down to Earth', 'Werving projectmedewerkers Ithaka', 'Student Conference 2022', 'Het Groot Dictee der Leuvense Studenten', '24 urenloop 2022', 'Beiaardcantus 2022', 'Openingsavond Interfacultair Theaterfestival', 'Think Abroad Month - Around the world', '24 urenloop 2021', 'Think Abroad Week 2021']"

In [16]:
##creating a datframe from the scraped event titles
title = eval(title)
df_title = pd.DataFrame(title)

In [17]:
##checking the event titles df
df_title

                                               0
0                        Student Conference 2022
1                        Survival of the Student
2                         Ithaka - Down to Earth
3              Werving projectmedewerkers Ithaka
4                        Student Conference 2022
5        Het Groot Dictee der Leuvense Studenten
6                               24 urenloop 2022
7                             Beiaardcantus 2022
8   Openingsavond Interfacultair Theaterfestival
9          Think Abroad Month - Around the world
10                              24 urenloop 2021
11                        Think Abroad Week 2021

In [18]:
##making one joined df from the date and event df's + checking the new df
frames = [df_date, df_title]
df = pd.concat(frames, axis = 1, join = 'inner')
df

,0,0
0,02 May 2023 - 05 May 2023,Student Conference 2022
1,19 Apr 2023,Survival of the Student
2,06 Mar 2023 - 12 Mar 2023,Ithaka - Down to Earth
3,20 Feb 2023 - 12 Mar 2023,Werving projectmedewerkers Ithaka
4,29 Nov 2022 - 01 Dec 2022,Student Conference 2022
5,22 Nov 2022,Het Groot Dictee der Leuvense Studenten
6,25 Oct 2022 - 26 Oct 2022,24 urenloop 2022
7,11 May 2022,Beiaardcantus 2022
8,08 Mar 2022,Openingsavond Interfacultair Theaterfestival
9,24 Feb 2022 - 24 Mar 2022,Think Abroad Month - Around the world
10,26 Oct 2021 - 27 Oct 2021,24 urenloop 2021
11,01 Mar 2021 - 06 Mar 2021,Think Abroad Week 2021

In [19]:
## a copy of the new df is made, the columns get names and they are of the string type
df_test = df.copy()
df_test.columns=['dates','event']
df_test = df_test.astype(str)

In [20]:
## the for the dates column, the rows are split when there is a "-"
## the first and second element are put into new colums and the dates column is deleted
## a new df: df_event is created and checked
def date_split(df):
    for i, row in df.iterrows():
        date_range = row['dates'].split('-')
        startdate = date_range[0].strip()
        if len(date_range) == 1:
            enddate = startdate
        else:
            enddate = date_range[1].strip()
        df.loc[i, 'startdate'] = startdate
        df.loc[i, 'enddate'] = enddate
    df = df.drop('dates', axis=1)
    return df
df_event = date_split(df_test)

In [21]:
## the columns for start- and enddate are formatted into datetime format
df_event["startdate"] = pd.to_datetime(df_event["startdate"], format="%d %b %Y")
df_event["enddate"] = pd.to_datetime(df_event["enddate"], format="%d %b %Y")

In [22]:
## checking the new df
df_event

                                           event  startdate    enddate
0                        Student Conference 2022 2023-05-02 2023-05-05
1                        Survival of the Student 2023-04-19 2023-04-19
2                         Ithaka - Down to Earth 2023-03-06 2023-03-12
3              Werving projectmedewerkers Ithaka 2023-02-20 2023-03-12
4                        Student Conference 2022 2022-11-29 2022-12-01
5        Het Groot Dictee der Leuvense Studenten 2022-11-22 2022-11-22
6                               24 urenloop 2022 2022-10-25 2022-10-26
7                             Beiaardcantus 2022 2022-05-11 2022-05-11
8   Openingsavond Interfacultair Theaterfestival 2022-03-08 2022-03-08
9          Think Abroad Month - Around the world 2022-02-24 2022-03-24
10                              24 urenloop 2021 2021-10-26 2021-10-27
11                        Think Abroad Week 2021 2021-03-01 2021-03-06

In [23]:
##a csv file is created from the df
df_event.to_csv('events_loko.csv', index = False)