In [68]:
##import libraries request and bs4
import requests #library needed for requesting permission to website
from bs4 import BeautifulSoup #needed for filtering through website html code
import re
import pandas as pd

In [69]:
##adding url of site needed for data
url = "https://www.kuleuven.be/english/about-kuleuven/calendars/2021-2022/ku-leuven-leuven-main-campus"
response = requests.get(url)

In [70]:
##making sure everything works and the correct url is used
response.url

'https://www.kuleuven.be/english/about-kuleuven/calendars/2021-2022/ku-leuven-leuven-main-campus'

In [71]:
##storing in beautifulsoup element for further usage
soup = BeautifulSoup(response.text, "html.parser")

In [72]:
dates = soup.select('p')

In [73]:
date = []
for y in dates:
    print(y.text)
    date.append(y.text)

September 2021
Mo.
27
Opening academic year 2021-2022 in Leuven
October 2021



November 2021
Mo.
1
All Saints (Bank holiday) (1)
Tu.
2
All Souls' Day (Bank holiday) (1)
Th.
11
Armistice Day (Bank holiday) (1)
December 2021
Sa.
25
Christmas holiday from Saturday 25 December until Sunday 9 January
Sa.
25
Christmas (Bank holiday) (1)
Su.
26
Boxing Day (Bank holiday) (1)
January 2022
Sa.
1
New Year's Day (Bank holiday) (1)
Mo.
10
Study period until Thursday January 13
Start of the first examination period*
February 2022
We.
2
KU Leuven Patron Saint's Day Celebration (Bank holiday) (1)
Mo.
14
Start of second semester
March 2022
April 2022
Sa.
2
Easter holiday from Saturday 2 April until Monday 18 April
Sun.
17
Easter (1)
Mo.
18
Easter Monday (Bank holiday) (1)
May 2022
Su.
1
Labour Day (Bank holiday) (1)
Th.
26
Feast of the Ascension (Bank holiday) (1)
Sa.
28
End of second semester classes
			Study period until Sunday 12 June
June 2022
Mo.
13
Start of second examination period*
July 2022
Sa.
9
Mo.
11
Holiday of the Flemish Community (Bank holiday) (1)
Th.
21
Belgian National Holiday (Bank holiday) (1)
August 2022
Mo.
15
Assumption of Mary (Bank holiday) (1)
Tu.
16
Start of registration for the 2022-2023 academic year
Mo.
22
Start of third examination period*
September 2022
Mo.
5
Monday of Leuven Funfair (Bank holiday) (1)
Mo.
12
Start of examination board meetings
Sa.
17
End of examination board meetings
* Some faculties start their exam period earlier. Please check the faculty’s website for more information.
(1) = The university’s campus in Leuven is closed.

      Last update:
      08 Mar 2022

In [74]:
date = str(date)
date = date.replace('xa0', '')
date = date.replace('\\', '')
date

'[\'September 2021\', \'Mo.\', \'27\', \'Opening academic year2021-2022inLeuven\', \'October 2021\', \'\', \'\', \'\', \'November 2021\', \'Mo. \', \'1\', \'All Saints (Bank holiday)(1)\', \'Tu. \', \'2 \', "All Souls\' Day (Bank holiday)(1)", \'Th.\', \'11\', \'Armistice Day (Bank holiday) (1)\', \'December 2021\', \'Sa.\', \'25\', \'Christmas holiday from Saturday 25 December until Sunday 9January\', \'Sa.\', \'25\', \'Christmas (Bank holiday) (1)\', \'Su.\', \'26\', \'Boxing Day (Bank holiday)(1)\', \'January2022\', \'Sa.\', \'1\', "New Year\'s Day (Bank holiday) (1)", \'Mo.\', \'10\', \'Study period until Thursday January 13\', \'Start of the first examination period*\', \'February2022\', \'We.\', \'2\', "KU Leuven Patron Saint\'s Day Celebration (Bank holiday)(1)", \'Mo.\', \'14\', \'Start of second semester\', \'March 2022\', \'April 2022\', \'Sa.\', \'2\', \'Easter holiday from Saturday 2April until Monday 18 April\', \'Sun.\', \'17\', \'Easter (1)\', \'Mo.\', \'18\', \'Easter Monday (Bank holiday)(1)\', \'May2022\', \'Su.\', \'1\', \'Labour Day (Bank holiday) (1)\', \'Th.\', \'26\', \'Feast of the Ascension (Bank holiday)(1)\', \'Sa.\', \'28\', \'End of second semester classesntttStudy period until Sunday 12June\', \'June2022\', \'Mo.\', \'13\', \'Start of second examination period*\', \'July2022\', \'Sa.\', \'9\', \'Mo.\', \'11\', \'Holiday of the Flemish Community (Bank holiday) (1)\', \'Th.\', \'21\', \'Belgian National Holiday (Bank holiday)(1)\', \'August2022\', \'Mo.\', \'15\', \'Assumption of Mary (Bank holiday)(1)\', \'Tu.\', \'16\', \'Start of registration for the 2022-2023academic year\', \'Mo.\', \'22\', \'Start of third examination period*\', \'September 2022\', \'Mo. \', \'5\', \'Monday of Leuven Funfair (Bank holiday)(1)\', \'Mo.\', \'12\', \'Start of examination board meetings\', \'Sa.\', \'17\', \'End of examination board meetings\', \'* Some faculties start their exam period earlier. Please check the faculty’s website for more information.\', \'(1) = The university’s campus in Leuven is closed.\', \'n      Last update:n      08 Mar 2022n    \', \'\']'

In [75]:
# Regular expression to match "month year" pattern
pattern = r"([A-Za-z]+)\s*\.?\s*(\d{4})"

# Find all matches of pattern in the string
matches = re.findall(pattern, date)

In [76]:
matches

[('September', '2021'),
 ('year', '2021'),
 ('October', '2021'),
 ('November', '2021'),
 ('December', '2021'),
 ('January', '2022'),
 ('February', '2022'),
 ('March', '2022'),
 ('April', '2022'),
 ('May', '2022'),
 ('June', '2022'),
 ('July', '2022'),
 ('August', '2022'),
 ('the', '2022'),
 ('September', '2022'),
 ('Mar', '2022')]

In [77]:
indexes = [1, 13, 15]
for index in sorted(indexes, reverse=True):
    del matches[index]
matches

In [79]:
df_months = pd.DataFrame(matches)
df_months

            0     1
0   September  2021
1     October  2021
2    November  2021
3    December  2021
4     January  2022
5    February  2022
6       March  2022
7       April  2022
8         May  2022
9        June  2022
10       July  2022
11     August  2022
12  September  2022