In [83]:
##import libraries request and bs4
import requests #library needed for requesting permission to website
from bs4 import BeautifulSoup #needed for filtering through website html code
import datetime as datetime

import re
import pandas as pd

In [84]:
##adding url of site needed for data
url = "https://schoolvakanties-be.be/schoolvakanties-2022/"
response = requests.get(url)

In [85]:
##making sure everything works and the correct url is used
response.url

'https://schoolvakanties-be.be/schoolvakanties-2022/'

In [86]:
##storing in beautifulsoup element for further usage
soup = BeautifulSoup(response.text, "html.parser")

In [87]:
holidays = soup.select('span[class="event-place"]')

In [88]:
holiday = []
for y in holidays:
    print(y.text)
    holiday.append(y.text)

Krokusvakantie 2022 – Wallonië –
Krokusvakantie 2022 – Vlaanderen –
Paasvakantie 2022 – Wallonië –
Paasvakantie 2022 – Vlaanderen –
Hemelvaartvakantie 2022 – Wallonië –
Hemelvaartvakantie 2022 – Vlaanderen –
Zomervakantie 2022 – Wallonië –
Zomervakantie 2022 – Vlaanderen –
Herfstvakantie 2022 – Wallonië –
Herfstvakantie 2022 – Vlaanderen –
Kerstvakantie 2022 – Wallonië –
Kerstvakantie 2022 – Vlaanderen –

In [89]:
df_holiday = pd.DataFrame(holiday)

In [90]:
df_holiday

                                          0
0         Krokusvakantie 2022 – Wallonië –
1       Krokusvakantie 2022 – Vlaanderen –
2           Paasvakantie 2022 – Wallonië –
3         Paasvakantie 2022 – Vlaanderen –
4     Hemelvaartvakantie 2022 – Wallonië –
5   Hemelvaartvakantie 2022 – Vlaanderen –
6          Zomervakantie 2022 – Wallonië –
7        Zomervakantie 2022 – Vlaanderen –
8         Herfstvakantie 2022 – Wallonië –
9       Herfstvakantie 2022 – Vlaanderen –
10         Kerstvakantie 2022 – Wallonië –
11       Kerstvakantie 2022 – Vlaanderen –

In [91]:
starts = soup.select('span[itemprop="startDate"]')

In [92]:
start = []
for z in starts:
    print(z.text)
    start.append(z.text)

maandag 28 februari 2022
maandag 28 februari 2022
maandag 4 april 2022
maandag 4 april 2022
donderdag 26 mei 2022
donderdag 26 mei 2022
vrijdag 1 juli 2022
vrijdag 1 juli 2022
maandag 24 oktober 2022
maandag 31 oktober 2022
maandag 26 december 2022
maandag 26 december 2022

In [93]:
start = str(start)

In [94]:
days = ['maandag', 'dinsdag', 'woensdag', 'donderdag', 'vrijdag', 'zaterdag', 'zondag']

In [95]:
pattern = re.compile(r'\b(?:{})\b'.format('|'.join(days)), flags=re.IGNORECASE)

In [96]:
en_start = pattern.sub('', start)

In [97]:
en_start

"[' 28 februari 2022', ' 28 februari 2022', ' 4 april 2022', ' 4 april 2022', ' 26 mei 2022', ' 26 mei 2022', ' 1 juli 2022', ' 1 juli 2022', ' 24 oktober 2022', ' 31 oktober 2022', ' 26 december 2022', ' 26 december 2022']"

In [98]:
en_start = en_start.replace("januari", "january")
en_start = en_start.replace('februari', 'february')
en_start = en_start.replace('maart', 'march')
en_start = en_start.replace('mei', 'may')
en_start = en_start.replace('juni', 'june')
en_start = en_start.replace('juli', 'july')
en_start = en_start.replace('augustus', 'august')
en_start = en_start.replace('oktober', 'october')
en_start = en_start.replace(' ', '')
en_start

"['28february2022','28february2022','4april2022','4april2022','26may2022','26may2022','1july2022','1july2022','24october2022','31october2022','26december2022','26december2022']"

In [99]:
en_start = eval(en_start)
df_start = pd.DataFrame(en_start)

In [100]:
df_start.columns = ["StartDate"]

In [101]:
df_start

         StartDate
0   28february2022
1   28february2022
2       4april2022
3       4april2022
4        26may2022
5        26may2022
6        1july2022
7        1july2022
8    24october2022
9    31october2022
10  26december2022
11  26december2022

In [110]:
ends = soup.select('span[itemprop="endDate"]')

In [111]:
end = []
for i in ends:
    print(i.text)
    end.append(i.text)

zondag 6 maart 2022
zondag 6 maart 2022
maandag 18 april 2022
maandag 18 april 2022
vrijdag 27 mei 2022
vrijdag 27 mei 2022
zondag 28 augustus 2022
woensdag 31 augustus 2022
zondag 6 november 2022
zondag 6 november 2022
zondag 8 januari 2023
zondag 8 januari 2023

In [117]:
end = str(end)

In [118]:
en_end = pattern.sub('', end)

In [121]:
en_end

"[' 6 march 2022', ' 6 march 2022', ' 18 april 2022', ' 18 april 2022', ' 27 may 2022', ' 27 may 2022', ' 28 august 2022', ' 31 august 2022', ' 6 november 2022', ' 6 november 2022', ' 8 january 2023', ' 8 january 2023']"

In [123]:
en_end = en_end.replace("januari", "january")
en_end = en_end.replace('februari', 'february')
en_end = en_end.replace('maart', 'march')
en_end = en_end.replace('mei', 'may')
en_end = en_end.replace('juni', 'june')
en_end = en_end.replace('juli', 'july')
en_end = en_end.replace('augustus', 'august')
en_end = en_end.replace('oktober', 'october')
en_end = en_end.replace(' ', '')
en_end

"['6march2022','6march2022','18april2022','18april2022','27may2022','27may2022','28august2022','31august2022','6november2022','6november2022','8january2023','8january2023']"

In [124]:
en_end = eval(en_end)
df_end = pd.DataFrame(en_end)

In [125]:
frames = [df_holiday, df_start, df_end]
df = pd.concat(frames, axis = 1, join = 'inner')
df.columns =['Holiday', 'StartDate', 'EndDate']

In [126]:
df
df["StartDate"] = pd.to_datetime(df["StartDate"], format="%d%B%Y")
df["EndDate"] = pd.to_datetime(df["EndDate"], format="%d%B%Y")
df

                                    Holiday  StartDate    EndDate
0         Krokusvakantie 2022 – Wallonië –  2022-02-28 2022-03-06
1       Krokusvakantie 2022 – Vlaanderen –  2022-02-28 2022-03-06
2           Paasvakantie 2022 – Wallonië –  2022-04-04 2022-04-18
3         Paasvakantie 2022 – Vlaanderen –  2022-04-04 2022-04-18
4     Hemelvaartvakantie 2022 – Wallonië –  2022-05-26 2022-05-27
5   Hemelvaartvakantie 2022 – Vlaanderen –  2022-05-26 2022-05-27
6          Zomervakantie 2022 – Wallonië –  2022-07-01 2022-08-28
7        Zomervakantie 2022 – Vlaanderen –  2022-07-01 2022-08-31
8         Herfstvakantie 2022 – Wallonië –  2022-10-24 2022-11-06
9       Herfstvakantie 2022 – Vlaanderen –  2022-10-31 2022-11-06
10         Kerstvakantie 2022 – Wallonië –  2022-12-26 2023-01-08
11       Kerstvakantie 2022 – Vlaanderen –  2022-12-26 2023-01-08