In [1]:
##import libraries request and bs4
import requests #library needed for requesting permission to website
from bs4 import BeautifulSoup #needed for filtering through website html code

import pandas as pd

In [2]:
##adding url of site needed for data
url = "https://www.weeronline.nl/Europa/Belgie/Leuven/4054147/weersverwachting-14dagen"
response = requests.get(url)

In [3]:
##making sure everything works and the correct url is used
response.url

'https://www.weeronline.nl/Europa/Belgie/Leuven/4054147/weersverwachting-14dagen'

In [4]:
##storing in beautifulsoup element for further usage
soup = BeautifulSoup(response.text, "html.parser")

In [5]:
##select the class from the html code we are interested in, all events we need are of this type
dates = soup.select('div[class="styled__Day-sc-1g67f0q-15 cmEQpP"]')

In [6]:
##checking if correct data is scraped
for x in dates:
    print(x.text)

2 mei
3 mei
4 mei
5 mei
6 mei
7 mei
8 mei
9 mei
10 mei
11 mei
12 mei
13 mei
14 mei
15 mei

In [7]:
##create df from scraped data
df_date = pd.DataFrame(dates)
df_date.columns = ["Date"]
df_date

      Date
0    2 mei
1    3 mei
2    4 mei
3    5 mei
4    6 mei
5    7 mei
6    8 mei
7    9 mei
8   10 mei
9   11 mei
10  12 mei
11  13 mei
12  14 mei
13  15 mei

In [8]:
##scraping temperature data
temp = soup.select('div[class="styled__RowMinMaxTemp-sc-1g67f0q-8 dOyNoL"]')

In [9]:
##create list from scraped data about temperature
temperature = []
for y in temp:
    print(y.text)
    temperature.append(str(y.text))

8°/15°
2°/16°
5°/23°
12°/19°
9°/21°
11°/19°
11°/19°
11°/18°
10°/18°
9°/17°
8°/17°
8°/17°
7°/17°
7°/17°

In [10]:
##create df from temperature data
df_temp = pd.DataFrame(temperature)
df_temp.columns = ["Temperature"]
df_temp

   Temperature
0       8°/15°
1       2°/16°
2       5°/23°
3      12°/19°
4       9°/21°
5      11°/19°
6      11°/19°
7      11°/18°
8      10°/18°
9       9°/17°
10      8°/17°
11      8°/17°
12      7°/17°
13      7°/17°

In [11]:
##scrape rain data
rain = soup.select('span[class="styled__RowPrecipitation-sc-1g67f0q-9 dPVegl"]')

In [12]:
##create list from scraped rain data
rains=[]
for z in rain:
    print(z.text)
    rains.append(str(z.text))

0 mm
0 mm
0 mm
2,6 mm
0 mm
3,1 mm
3,7 mm
4,3 mm
2,9 mm
2,8 mm
1,8 mm
1,3 mm
0,5 mm
0,5 mm

In [13]:
##create df from scraped rain data
df_rain = pd.DataFrame(rains)
df_rain.columns = ["Rain"]
df_rain

      Rain
0     0 mm
1     0 mm
2     0 mm
3   2,6 mm
4     0 mm
5   3,1 mm
6   3,7 mm
7   4,3 mm
8   2,9 mm
9   2,8 mm
10  1,8 mm
11  1,3 mm
12  0,5 mm
13  0,5 mm

In [14]:
##joining all df's
frames = [df_date, df_temp, df_rain]
df = pd.concat(frames, axis = 1, join = 'inner')

In [15]:
df

      Date Temperature    Rain
0    2 mei      8°/15°    0 mm
1    3 mei      2°/16°    0 mm
2    4 mei      5°/23°    0 mm
3    5 mei     12°/19°  2,6 mm
4    6 mei      9°/21°    0 mm
5    7 mei     11°/19°  3,1 mm
6    8 mei     11°/19°  3,7 mm
7    9 mei     11°/18°  4,3 mm
8   10 mei     10°/18°  2,9 mm
9   11 mei      9°/17°  2,8 mm
10  12 mei      8°/17°  1,8 mm
11  13 mei      8°/17°  1,3 mm
12  14 mei      7°/17°  0,5 mm
13  15 mei      7°/17°  0,5 mm